.main {
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.form {
  background: white;
  padding: 1.5rem;
  color: #1d37c2 !important;
  border-radius: 10px;
  margin-right: 3rem;
  margin-bottom: 3rem;
}

.submit,
.submit:hover,
.submit:focus,
.submit:active {
  background: #1d37c2 !important;
  color: #ffffff !important;
  text-align: center;
  border-radius: 8px;
  margin-right: 1rem;
  height: 2.5rem;
}

.forgot_pass_btn {
  background: none !important;
  border: none !important;
  color: #1d37c2 !important;
  text-decoration: underline;
  padding: 0 !important;
}

.form_control {
  font-size: 0.75rem !important;
}

.password_sec,
.radio_sec,
.btn_grp {
  display: flex;
  flex-wrap: wrap;
}

.btn_grp {
  margin-top: 1.5rem;
  align-items: center;
}

.password {
  margin-left: 1.5rem;
}

.role {
  margin-left: 3rem;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2.5rem;
}

.title,
.description,
.input_grp,
.subscribe_btn {
  text-align: left;
}

.description a,
.btn_description a {
  color: #1d37c2 !important;
}

.description,
.btn_description {
  line-height: 1.5;
  font-size: 1rem;
  opacity: 80%;
  margin-bottom: 1rem;
}

.btn_description {
  font-size: 0.75rem;
  margin-bottom: 0;
}

.login_image,
.image {
  height: 85% !important;
  width: auto !important;
  min-width: auto !important;
  min-height: auto !important;
  max-width: auto !important;
  max-height: auto !important;
}

.time_sec {
  display: flex;
}

.time_sec_item {
  margin-right: 2rem;
}

.check_warn input {
  margin-top: 0 !important;
  margin-right: 1rem;
}

.check_alert {
  color: #a10404;
  font-size: 0.75rem;
}

@media (max-width: 991px) {
  .password,
  .role {
    margin-left: 0;
  }

  .password_sec,
  .radio_sec {
    flex-direction: column;
  }

  .image {
    display: none;
  }

  .form {
    margin-right: 1rem;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
