html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #DFEBFC !important;

}

button#scroll {
  display: none;
  display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;    
    z-index: 1250;
}

.form-control,
.btn,
a,
.form-check-input {
  transition: none !important
}

.btn {
  background-color: #fff !important;
  color: #1d37c2 !important;
  border-color: #1d37c2 !important;
}

.form-control:focus,
.btn:focus,
.btn:active,
.btn:hover {
  color: #1d37c2 !important;
  outline:0px !important; 
  box-shadow: none !important;
}

a:focus,
.form-check-input:focus {
  outline:0px !important; 
  box-shadow: none !important;
}

/* .input-group-text {
  margin-right: 1rem;
} */

.form-check-input:checked {
  color: #a10404;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

.btn-primary.active {
  background-color: #1D37C2 !important;
  color: #fff !important;
  border-color: #1D37C2 !important;
}
